<section class="bg-beige-500 px-10 md:px-28 py-20">

    <h2 class="anmeldelserh2 text-center md:text-left text-40 md:text-50 font-WindstoneSerif text-blue-500 mb-8">
      Se vores flotte anmeldelser - Vi er fremragende på Trustpilot
    </h2>
  
    <div class="flex gap-14 overflow-x-auto scroll-smooth snap-x snap-mandatory px-5">
      
      <div class="bg-greyblue-500 text-white flex-shrink-0 w-80 py-12 px-10 rounded-3xl text-center snap-center">
        <p class="font-bold mb-6 ">Nemt og overskueligt</p>
        <p class="italic mb-10">Jeg havde brug for at sende en lille buket blomster med levering på en arbejdsplads inden for et 4 timers vindue dagen efter min bestilling. Flowering kundeservice var ut..</p>
        <p>Sus Hansen</p>
      </div>
  
      <div class="bg-greyblue-500 text-white flex-shrink-0 w-80 py-12 px-10 rounded-3xl text-center snap-center">
        <p class="font-bold mb-6">Bæredygtige blomster!</p>
        <p class="italic mb-10">Nemt at bruge siden til bestilling af blomster- og super godt med den bæredygtige profil - og bare rigtig fine blomster.</p>
        <p>Nana Bork</p>
      </div>
  
      <div class="bg-greyblue-500 text-white flex-shrink-0 w-80 py-12 px-10 rounded-3xl text-center snap-center">
        <p class="font-bold mb-6">Nemt at bestille</p>
        <p class="italic mb-10">Nemt at bestille. Bliver godt informeret. Og selv indpakningen er bæredygtig! Man forærer blomster med god samvittighed.</p>
        <p>Søren Nielsen</p>
      </div>
  
      <div class="bg-greyblue-500 text-white flex-shrink-0 w-80 py-12 px-10 rounded-3xl text-center snap-center">
        <p class="font-bold mb-6">Super flotte blomster og fedt koncept</p>
        <p class="italic mb-10">Super flotte blomster og fedt koncept! Jeg bestilte to buketter til mine medarbejdere, og levering gik smooth, og jeg fik til og med billede af leveringen. Jeg er..</p>
        <p>Christina Ris</p>
      </div>
  
      <div class="bg-greyblue-500 text-white flex-shrink-0 w-80 py-12 px-10 rounded-3xl text-center snap-center">
        <p class="font-bold mb-6">Helt frisk buket</p>
        <p class="italic mb-10">Som modtager er det en fornøjelse at få en så frisk buket, at den seks dage efter står fuldstændig(!) ligeså flot, som da den blev leveret.</p>
        <p>Jane N.</p>
      </div>

      <div class="bg-greyblue-500 text-white flex-shrink-0 w-80 py-12 px-10 rounded-3xl text-center snap-center">
        <p class="font-bold mb-6">Smukke og holdbare buketter!</p>
        <p class="italic mb-10">Flowering har excellent service og meget flotte buketter! Jeg har været så tilfreds, hver gang jeg har handlet hos dem. Man får mere for sine penge, fordi buketterne holder længe :-)</p>
        <p>Mille L.</p>
      </div>

      <div class="bg-greyblue-500 text-white flex-shrink-0 w-80 py-12 px-10 rounded-3xl text-center snap-center">
        <p class="font-bold mb-6">WAUW - alt spiller bare!</p>
        <p class="italic mb-10">Mega smukke buketter, flot indpakning og jeres branding er bare lige i skabet. I leverer også alle dage i ugen, hvilket er helt afgørende til weekendfejringer.

            Min absolutte go-to, når der skal bestilles flotte blomster i gave :D</p>
        <p>Andrea</p>
      </div>
  
    </div>
  
  </section>

  
  <script>
    import { inView } from "motion";
    

    const elementmedanimation1 = document.querySelector(".anmeldelserh2");
        
        inView(elementmedanimation1, () => {
        
        elementmedanimation1.classList.add("animate__animated", "animate__fadeInUp");
        
        }); 


    </script>