---
---

<section class="bg-greyblue-500 text-white font-LivvicRegular  pt-20 px-20 pb-5 justify-center" >

<div class="text-20 flex flex-col md:flex-row gap-12">
  <div class="md:w-96 text-16">
<h3 class="text-30 md:text-40 font-WindstoneSerif mb-6">Kontakt</h3>
<p class="font-bold">+45 92 92 52 55</p>
<p class="mb-8">Mandag - fredag: 08:00 - 13:00</p>
<p class="font-bold ">info@flowering.dk</p>
<p class=" mb-10">Vi svarer indenfor 2 hverdage</p>
<p>Vi leverer alle 365 dage året rundt.</p>
</div>

<div class="md:w-80 text-16">
<h3 class="text-30 md:text-40 font-WindstoneSerif mb-6">Adresse</h3>
<p class="font-bold mb-8">Flowering Aps </p>
<p>Hejrevej 8-10</p>
<p>2400 København NV</p>
<p>Danmark</p>
</div>

<div class="md:w-96 text-16">
<h3 class="text-30 md:text-40  font-WindstoneSerif mb-6">Butik åbningstider</h3>
<p class="font-bold">Mandag - fredag:</p>
<p class="mb-8">08:00 - 18:00</p>
<p class="font-bold">Lørdag:</p>
<p class="mb-8">10:00 - 15:00</p>
<p class="font-bold">Søndag & helligdage:</p>
<p>10:00 - 15:00</p>
</div>

<div class="md:w-96 text-16">
<h3 class="text-30 md:text-40 text-white font-WindstoneSerif mb-6">Følg os</h3>
<p class="mb-8">Bliv inspireret af smukke buketter, bæredygtige tips og nyheder fra Flowering.dk. Følg med på vores rejse!</p>
  <div class="flex flex-row gap-12">
  <ion-icon name="logo-facebook"></ion-icon>
  <ion-icon name="logo-instagram"></ion-icon>
  <ion-icon name="logo-linkedin"></ion-icon>
  <ion-icon name="logo-tiktok"></ion-icon>
  </div>
</div>
</div>

<hr class="mt-16">

<div class="flex flex-col md:flex-row justify-between mt-16 text-12 gap-2">
  <p>CVR: 40180222</p>
  <a href="https://flowering.dk/handelsbetingelser/" class="hover:underline">Handels- og abonnementsbetingelser</a>
  <a href="https://flowering.dk/flowerings-leveringsomraade/"class="hover:underline">Leveringsområde</a>
  <a href="https://flowering.dk/presse/"class="hover:underline">Presse</a>
  <a href="https://findsmiley.dk/1414025"class="hover:underline">Se Fødevarestyrelsens smiley-rapporter</a>
</div>

</section>



<style>
     ion-icon {
    color: var(--beige);
    font-size: 40px;
    width: 13%;
  }

  ion-icon:hover {
    color: #b9cdff;
    cursor: pointer;
  }
</style>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
      