---
import { Image } from 'astro:assets';
import hero4 from '../../assets/images/hero4.webp'
import scoll_pil from '../../assets/images/scoll_pil.webp'
---

        <div class="relative">
            <Image 
                      src={hero4} alt='billede af hvid blomst' class="h-screen md:max-h-[600px] md:w-screen object-cover"/>
          
          <div class="absolute inset-0 md:ml-16 md:mt-20 m-20 mt-52 md:m-0">
          <h1 class="text-50 md:text-200 font-WindstoneSerif md:mb-[-40px] mb-10 text-blue-500">Vores historie</h1>
          <h2 class="text-40 md:text-50 font-WindstoneSerif text-blue-500">Blomsterfrøet, der blev til Flowering, blev sået ud fra en dyb kærlighed til blomster og naturens skønhed</h2>
          </div>
          
          </div>